body {
    min-height: 100vh;
    min-height: 100dvh;
    background: url(https://images.pexels.com/photos/796206/pexels-photo-796206.jpeg?auto=compress&cs=tinysrgb&w=1920&h=1080&dpr=2) no-repeat center center / cover;
}